{% extends "layout/basic.html" %}
{% block title %}Задачи{% endblock %}
{% block content %}
		<h3>Задачи:</h3>
		<table>
			<th>Название</th>
			<th>Категория</th>
			<th>Крайний срок</th>
			{% for el in tasks %}
			<tr>
				<td>{{el.title}}</td>
				<td>{% if el.group != null %}<a href="{% url 'group' el.group.id %}">{{el.group}}</a>{% else %}{% endif %}</td>
				<td>{{el.deadline|date:"d.m.Y H:i"}}</td>
				<td><a href="{%url 'task' el.id%}">Подробнее</a></td>
				<td><a href="{%url 'update-task' el.id%}">Редактировать</a></td>
				<td><a href="{%url 'delete-task' el.id%}">Удалить</a></td>
			</tr>
			{%empty%}
			<h3>В списке нет элементов</h3>
			{%endfor%}					
		</table>
		<a href="{%url 'add-task'%}">Добавить задачу</a>
{% endblock %}